.progress-bar{
    background-color: rgb(236, 236, 236);
    width: 200px;
    height: 8px;
    border-radius: 50px;
}

.progress-bar .percentage{
    height: 100%;
    border-radius: 50px;
}

.progress-bar .blue{
    background-color: var(--blue);
}